* {
  box-sizing: border-box;
}

.App {
  display: grid;
  justify-content: center;
}

.parent {
  padding: 0 2em;
}

.card-header {
  background: #90a76c;
  color: rgb(53, 50, 50);
  padding-top: .5em;
  margin-top: .5em;
}

.title {
  display: block;
  text-align: center;
}

/* Add form */

.grid-container {
  margin: 2em 1em;
  padding: 1em;
  border: 4px rgb(35, 54, 5) dashed;
  /* color:#1d5e25;
  box-shadow:lawngreen; */
  border-radius: 25px
}

#plant-container {
  grid-template-columns: 1fr 1fr;
}

.form-container {
  display: grid;
}

.form-input {
  display: flex;
  gap: 2em;
  font-weight: bold;
  padding: 1em;
}

.form-input span {
  width: 10em;
}

.submit-btn {
  width: 10%;
  padding: 0.5em 0;
  justify-self: end;
}

#plant-btn {
  grid-column: span 2;
}

/* Cards */

.card-deck {
  flex-wrap: wrap;
}

.card-deck {
  margin: 0 1.5em;
}

.card {
  flex-direction: column;
  border: 1px rgb(35, 54, 5) solid;
  text-align: center;
  background-color: rgb(26, 114, 45);
  width: 20%;
  /* flex: none; */
}

.card-activated {
  background-color: red;
}

#card {
  flex: none;
  margin-bottom: 1em;
}

.card-title {
  font-weight: bold;
}

/* .watered-button {
  background-color: red;
} */

.watered-button:focus {     
  background-color:green;    
}


/* Navbar */

nav ul {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  background-color: rgb(35, 54, 5);
  margin-bottom: 20px;
}

#nav ul li{
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}


/* 
.featured-container {
  display: block;
  align-items: center;
  order: 5;
  gap: 50px;
  margin: 25px;
} */


/* 
@media (prefers-reduced-motion: no-preference) {
  
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
