
.login-wrap {
    margin: 2em 20em;
    border: 5px solid rgb(35, 54, 5);   
}

#login {
    margin: 0.5em;
    border-radius: 0px;
}

#login-container {
    grid-template-columns: 1fr 1fr;
}

#login-container legend {
    grid-column: span 2;
    text-align: center;
    margin-bottom: 1em;
}

#login-container h3 {
    font-weight: bold;
}

#login-container span{
    width: 5em;
}

.button-container {
    grid-column: span 2;
    display: flex;
    justify-content: space-evenly;
}

#login-container button {
    background: white;
    border: rgb(35, 54, 5) solid 1px;
    width: 20%;
    border-radius: 10px
}

.message {
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
    font-size: 20px;
}

.garden-btn {
    background:rgb(106, 170, 3);
    width: 100%;
    padding: 1em 0;
}